body{
    padding: 0;
    margin: 0;
}

.myContainer{
    height: 100vh;
    width: 35vw;
    background-color: #808080

}
.myContainer::before{
    content: '';
    position: absolute;
    top: 0px;
    left: -25px;
    width: 50vw;
    z-index:-1;
    border-style: solid;
    border-color:#808080 transparent transparent transparent;
    border-width: 100vh 100px 0 32px;
}
